*{
	margin: 0;
	padding: 0;

}

.caja{
	width: 200px;
	display: inline-block;
	border: 1px solid blue;
	height: 200px;
	overflow: hidden;

}

.texto{
	display: none;
}

p:hover .texto{
    display: inline-block;
}

p:hover .verMas{
    display: none;
}


